/* styles.css */
body {  
  #content {
    padding: 50px 200px;

    #container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 50px;

      #description {
        width: 400px;
      }

      #xiangling {
        width: 400px;
      }
    }
  }
}


