body {
    #content {
        .food-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            margin: 40px;
            background-color: gainsboro;
            border-radius: 20px;

            .image {
                width: 200px;
            }
        }
        
  }  
}