body {
    #content {
        .food-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 500px;
            margin: 30px;
            background-color: gainsboro;
            border-radius: 20px;

            .image {
                width: 200px;
                transition: all 0.3s ease-in;
            }

            .image:hover {
                width: 300px;
            }

            h3 {
                text-align: center;
            }
        }
        
  }  
}