/* styles.css */

:root {
  --red: #cc1b1b;
  --gold: #c1853b;
  --Darkbrown: #2f0505;
  --brown: #85311b;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
  background-image: url(../assets/guoba_Pattern.webp);
  background-repeat: repeat-x;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
    background-color: var(--gold);
    
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      
      li {
        list-style-type: none;
        padding: 20px 60px;
        transition: all 0.5s ease;
      }
      
      li:hover {
        background-color: var(--brown);
        color: white;
      }
    }
  }

  #box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #content {
      width: 50%;
      background-color: white;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Darkbrown);
  color: white;
  padding: 10px;
}



