/* styles.css */
body {
  background-color: white;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 80px;
      
      li {
        list-style-type: none;
      }
    }
    
  }
  
}


